#app
  background-color #BC2B35
  width 100vw
  height 100vh
  overflow hidden

#header
  #logo
    background url('../assets/images/Group 1.png') no-repeat center/cover
    position absolute
    top 44px
    left 51px
    width 170px
    height 40px

  .line
    width 0
    height 30px
    border-left 1px solid #F2F0C9
    position absolute
    top 60px
    left 250px

  #topic
    background url('../assets/images/To-Do-List Alarm System.png') no-repeat center/cover
    position absolute
    top 65px
    left 274px
    width 216px
    height 20px
    opacity 1

#app
  #home
    #bg-left
      background url('../assets/images/Subtraction 4.png') no-repeat center/cover
      position absolute
      top 182px
      left 0.000244140625px
      width 358px
      height 716px
      

    #bg-top
      background url('../assets/images/Intersection 2.png') no-repeat center/cover
      position absolute
      top 0.04608154296875px
      left: 511px
      width 305px
      height 130px

    #bg-right
      background url('../assets/images/Subtraction 5.png') no-repeat center/cover
      position absolute
      top 182px
      right 0.000244140625px
      width 358px
      height 716px

    #bg-bottom
      background url('../assets/images/Intersection 1.png')no-repeat center/cover
      position absolute
      top 700px
      right 400px
      width 464px
      height 198px

    #menu
      background url('../assets/images/Group 2.png') no-repeat center/cover
      position absolute
      top 50px
      right 200px
      width 49px
      height 30px

    #additem
      .input
        background-color transparent
        border none
        border-bottom 1px solid #F2F0C9
        padding-bottom 10px
        color #F2F0C9
        width: 300px
        height 28px
        position absolute
        top 512px
        left 98px
      
      .btn
        background-color transparent
        border none
        position absolute
        top 500px
        left 400px
        font-size 24px
        width 30px
        height 30px
      
    #btn-group
      #listbtn
        background url('../assets/images/Group 18.png') no-repeat center/cover
        position absolute
        top 400px
        right 180px
        width 70px
        height 70px
      
      #chartbtn
        background url('../assets/images/Group 19.png') no-repeat center/cover
        position absolute
        top 500px
        right 180px
        width 70px
        height 70px

      #settingsbtn
        background url('../assets/images/Group 20.png') no-repeat center/cover
        position absolute
        top 600px
        right 180px
        width 70px
        height 70px

#countingAlarm
  #alarm-container
    background url('../assets/images/Subtraction 3.png') no-repeat center/cover
    position absolute
    top 218px
    left 642px
    width 523px
    height 534px

    #title
      color #F2F0C9
      font-size 20px

    #time
      color #F2F0C9
      font-size 100px
    
    .ring-btn
      background url('../assets/images/Group 15.png') no-repeat center/cover
      width 60px
      height 60px

    .mute-btn
      background url('../assets/images/mute.png') no-repeat center/cover
      width 60px
      height 60px

    .play-btn
      background url('../assets/images/Group 17.png') no-repeat center/cover
      width 60px
      height 60px

    .pause-btn
      background url('../assets/images/pause.png') no-repeat center/cover
      width 60px
      height 60px

    .skip-btn
      background url('../assets/images/Group 16.png') no-repeat center/cover
      width 60px
      height 60px
  
  #nextText
    position absolute
    bottom 80px
    left 850px
    font-size 20px
    color #F2F0C9
    opacity 0.7
    z-index 999

#pages
  #bg-1
    background url('../assets/images/Subtraction 4.png') no-repeat center/cover
    position absolute
    top 182px
    left 0.000244140625px
    width 358px
    height 716px

  #icons-function
     #listbtn
        background url('../assets/images/Group 18.png') no-repeat center/cover
        position absolute
        top 400px
        right 180px
        width 70px
        height 70px
      
      #chartbtn
        background url('../assets/images/Group 19.png') no-repeat center/cover
        position absolute
        top 500px
        right 180px
        width 70px
        height 70px

      #settingsbtn
        background url('../assets/images/Group 20.png') no-repeat center/cover
        position absolute
        top 600px
        right 180px
        width 70px
        height 70px

  #bg-2
    background url('../assets/images/Path 9.png') no-repeat center/cover
    position absolute
    top 0px
    right 0px
    width 780px
    height 100vh

  #icons-function
    #listbtn
      top 350px
      left 870px
    #chartbtn
      top 450px
      left 870px
    #settingsbtn
      top 550px
      left 870px

  #close
    .closeicon
      color #F2F0C9
      font-size 6rem
      position absolute
      right 40px
  
  .position
    position absolute
    left -500px

#chart
  #content
    #data
      width 500px
      position absolute
      top 150px
      right 150px
      font-size 40px
      color #F2F0C9
#chart
    #line-chart
      position absolute
      right 150px
      top 400px
      width 500px !important
      height 387px !important

#settings
  #SettingContainer
    width 500px
    position absolute
    top 300px
    right 100px
    color #F2F0C9
    text-align left

  .bg-transparent
    background transparent
    border none
  
  .borderbottom
    border-bottom 1px dashed #F2F0C9
  .text20
    font-size 24px

#list
  #textinput
    position absolute
    right 2%
    top 200px
    text-align center
    width 600px
  #newinput
    display inline-blockblock
    width 100%
    height 30px
    background-color #F2F0C9
    border none
    border-radius 5px
  .plusicon
    position absolute
    top -10px
    right 0
    background transparent
    color #a52b33
    border none
    font-size 1.5rem    

  .calendar
    background #a52b33
    border-top-left-radius 10px
    border-top-right-radius 10px
    color #F2F0C9
  
  .btn-secondary
    background transparent
    border none

  .checkedicon
    color #F2F0C9
  
  .valuecolor
    color #F2F0C9

